{{ $imgFragment := (urls.Parse .Destination).Fragment }}
{{ $imgSize := index (split $imgFragment "+") 0 }}
{{ $imgParam := index (split $imgFragment "+") 1 }}
{{ $imgSizeX := index (split $imgSize "x") 0 }}
{{ $imgSizeY := index (split $imgSize "x") 1 }}

<figure>
<img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ with .Title }} class="{{ . }}"{{ end }} {{ with $imgSizeX }}width="{{ . }}"{{ end }} {{ with $imgSizeY }}height="{{ . }}"{{ end }}/>
<figcaption><a href="https://orcid.org/0009-0003-2056-6079">ORCID</a> | <a href="https://dblp.uni-trier.de/pid/195/8301">DBLP</a> | <a href="https://scholar.google.com/citations?user=lZqY8E0AAAAJ&hl=en"> Scholar</a><br>sihang.pu@gmail.com</figcaption>
</figure>