<style>
figure {
  float: left;
/*  padding: 4px;*/
  margin: 10px;
}

figcaption {
  float: left;
  font-style: normal;
  font-size: smaller;
/*  padding: 2px;*/
  text-align: center;
  text-indent: 0;
  margin: 0.5em;
}

img {
    margin: 1rem auto;
    display: block;
    padding: 15px; 
}
img.left {
/*    float: left;*/
/*    margin-right: 15px;*/
}
img.right {
/*    float: right;
    margin-left: 15px;*/
}
img.border {
    border: 2px solid #e6e6e6 !important;
    padding: 2px;
}

img.shadow {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
img.inline {
    display: inline !important;
    margin: 0 !important;
    vertical-align: bottom;
}

</style>